The easiest option is to read the data to python is to use link to the file located in a public folder on sciencedata.dk, which might be accessed even without sciencedata credentials.

In [1]:
import pandas as pd
import requests

# a) requests & pandas

In [2]:
# make the request
filename = "EDH_attrs_cleaned_2022-11-02.json"
#filename = "EDH_attrs_cleaned_2020-09-30.json"
public_folder_id = "b6b6afdb969d378b70929e86e58ad975"
resp = requests.get("https://sciencedata.dk/public/" + public_folder_id + "/" + filename)
resp # look at the response: 200 means valid

In [3]:
resp.headers

{'Date': 'Wed, 02 Nov 2022 22:50:31 GMT', 'Server': 'Apache/2.4.27 (FreeBSD) PHP/5.6.31 OpenSSL/1.0.1s-freebsd mod_qos/11.51', 'Access-Control-Allow-Origin': '*', 'X-Powered-By': 'PHP/5.6.31', 'Set-Cookie': '547a3bd3973b8=g8cqnsnvn3fib1a0pkmjd8sl12; path=/; domain=.sciencedata.dk; HttpOnly', 'Expires': 'Thu, 19 Nov 1981 08:52:00 GMT', 'Cache-Control': 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0', 'Pragma': 'no-cache', 'Strict-Transport-Security': 'max-age=31536000', 'X-XSS-Protection': '1; mode=block', 'X-Content-Type-Options': 'nosniff', 'Content-Security-Policy': "script-src 'self' http://*.google.com https://*.deic.dk https://*.sciencedata.dk https://sciencedata.dk https://kube.sciencedata.dk https://kube.sciencedata.dk:8443 'unsafe-inline' 'unsafe-eval' http://*.googleapis.com https://*.googleapis.com https://*.google.com https://*.gstatic.com https://code.jquery.com https://d3js.org https://cdnjs.cloudflare.com https://unpkg.com https://maxcdn.bootstrapcdn.com https://kube.sciencedata.dk https://kube.sciencedata.dk:8443 https://*.deic.dk https://*.sciencedata.dk https://sciencedata.dk; style-src 'self' 'unsafe-inline' http://*.googleapis.com https://*.googleapis.com https://*.google.com https://*.gstatic.com https://code.jquery.com https://maxcdn.bootstrapcdn.com https://kube.sciencedata.dk https://kube.sciencedata.dk:8443 https://*.deic.dk https://*.sciencedata.dk https://sciencedata.dk", 'X-Robots-Tag': 'none', 'Last-Modified': 'Wed, 02 Nov 2022 22:48:56 GMT', 'ETag': '"6362f3d99627c-gzip"', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'Access-Control-Allow-Headers': '*', 'Keep-Alive': 'timeout=10, max=200', 'Connection': 'Keep-Alive', 'Transfer-Encoding': 'chunked', 'Content-Type': 'text/plain;charset=UTF-8'}

In [4]:
# interpret response content as json and transform it into pandas DataFrame object
EDH_merged = pd.DataFrame(resp.json())
# look at first five rows
EDH_merged.head(5)

,commentary,country,depth,diplomatic_text,findspot_ancient,findspot_modern,height,id,language,last_update,...,country_certainty,findspot_ancient_clean,findspot_ancient_certainty,modern_region_clean,modern_region_certainty,findspot_modern_clean,findspot_modern_certainty,findspot_clean,findspot_certainty,origdate_text_clean
0,(C): 2. Hälfte 1. - Anfang 2. Jh. - AE; Ende 1...,Italy,2 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"Cumae, bei","Cuma, bei",33 cm,HD000001,L,2014-04-07,...,Certain,Cumae,Estimated,Campania,Certain,"Cuma, bei",Certain,NULL,NULL,71 AD - 130 AD
1,AE 1983: Breite: 35 cm.,Italy,{},C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,Roma,Roma,28 cm,HD000002,L,2014-04-07,...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,"Via Nomentana, S. Alessandro, Kirche",Certain,51 AD - 200 AD
2,(B): [S]isenna ist falscher Kasus; folgende Er...,Spain,(12) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,{},Tomares,(37) cm,HD000003,L,2006-08-31,...,Certain,NULL,NULL,Sevilla,Certain,Tomares,Certain,NULL,NULL,131 AD - 170 AD
3,Material: lokaler grauer Kalkstein. (B): Stylo...,Spain,18 cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,Ipolcobulcula,Carcabuey,(39) cm,HD000004,L,2015-03-27,...,Certain,Ipolcobulcula,Certain,Córdoba,Certain,Carcabuey,Certain,NULL,NULL,151 AD - 200 AD
4,(B): Z. 3: C(ai) l(ibertae) Tyches.,Italy,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,Roma,Roma,{},HD000005,L,2010-01-04,...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,Via Cupa (ehem. Vigna Nardi),Certain,1 AD - 200 AD

In [4]:
EDH_merged.shape

(81476, 71)

In [ ]:
# unfortunetely, many individual cell values are formatted as onee-element-lists
# so we have to extract them before moving further....

# sddk (>=2.7)
(also implictly relies on requests and pandas)

In [1]:
import sddk

publicfolder = "b6b6afdb969d378b70929e86e58ad975"
EDH_merged = sddk.read_file("EDH_attrs_cleaned_2020-09-28.json", "df", publicfolder)
EDH_merged.head(5)

reading file located in a public folder

,responsible_individual,type_of_inscription,letter_size,not_after,literature,work_status,height,diplomatic_text,people,depth,...,country_certainty,findspot_ancient_clean,findspot_ancient_certainty,modern_region_clean,modern_region_certainty,findspot_modern_clean,findspot_modern_certainty,findspot_clean,findspot_certainty,origdate_text_clean
0,Feraudi,epitaph,3.2-2 cm,0130,"AE 1983, 0192.; M. Annecchino, Puteoli 4/5, 19...",provisional,33 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"[{'name': 'Noniae P.f. Optatae', 'cognomen': '...",2.7 cm,...,Certain,Cumae,Estimated,Campania,Certain,"Cuma, bei",Certain,NULL,NULL,71 AD – 130 AD
1,Feraudi,epitaph,4 cm,0200,"AE 1983, 0080. (A); A. Ferrua, RAL 36, 1981, 1...",no image,28 cm,C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,"[{'nomen': 'Sextius', 'praenomen': 'C.', 'pers...",{},...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,"Via Nomentana, S. Alessandro, Kirche",Certain,51 AD – 200 AD
2,Feraudi,honorific inscription,4.5-3 cm,0170,"AE 1983, 0518. (B); J. González, ZPE 52, 1983,...",provisional,(37) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,"[{'nomen': 'Mummius+', 'gender': 'male', 'prae...",(12) cm,...,Certain,NULL,NULL,Sevilla,Certain,Tomares,Certain,NULL,NULL,131 AD – 170 AD
3,Gräf,votive inscription,2.5 cm,0200,"AE 1983, 0533. (B); A.U. Stylow, Gerión 1, 198...",checked with photo,(39) cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,[{'name': '[---?]AV(?)S(?)[---]L(?)L(?)A M. Po...,18 cm,...,Certain,Ipolcobulcula,Certain,Córdoba,Certain,Carcabuey,Certain,NULL,NULL,151 AD – 200 AD
4,Feraudi,epitaph,{},0200,"AE 1983, 0078. (B); A. Ferrua, RAL 36, 1981, 1...",no image,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,"[{'person_id': '1', 'name': '[---]l. Successus...",{},...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,Via Cupa (ehem. Vigna Nardi),Certain,1 AD – 200 AD

In [3]:
EDH_merged.shape

(81476, 71)

In [18]:
# login to our project folder, owned by my AU account 648597@au.dk, using my account at another institution
session, endpoint = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): kase@zcu.cz
sciencedata.dk password: ········
connection with shared folder established with you as its ordinary user
endpoint variable has been configured to: https://sciencedata.dk/sharingout/648597%40au.dk/SDAM_root/

In [19]:
# login to our project folder, owned by my AU account 648597@au.dk, using my Au account
session, endpoint = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/

# Reading local copy

In [2]:
EDH_cleaned = pd.read_json("../data/large_data/EDH_text_cleaned_2022-11-03.json")

In [3]:
EDH_cleaned.head(5)

,commentary,country,depth,diplomatic_text,findspot_ancient,findspot_modern,height,id,language,last_update,...,modern_region_clean,modern_region_certainty,findspot_modern_clean,findspot_modern_certainty,findspot_clean,findspot_certainty,origdate_text_clean,clean_text_conservative,clean_text_interpretive_word,clean_text_interpretive_sentence
0,(C): 2. Hälfte 1. - Anfang 2. Jh. - AE; Ende 1...,Italy,2 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"Cumae, bei","Cuma, bei",33 cm,HD000001,L,2014-04-07,...,Campania,Certain,"Cuma, bei",Certain,NULL,NULL,71 AD - 130 AD,D M Noniae P f Optatae et C Iulio Artemoni par...,Dis Manibus Noniae Publi filiae Optatae et Cai...,Dis Manibus Noniae Publi filiae Optatae et Cai...
1,AE 1983: Breite: 35 cm.,Italy,{},C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,Roma,Roma,28 cm,HD000002,L,2014-04-07,...,Lazio,Certain,Roma,Certain,"Via Nomentana, S. Alessandro, Kirche",Certain,51 AD - 200 AD,C Sextius Paris qui vixit annis LXX,Caius Sextius Paris qui vixit annis LXX,Caius Sextius Paris qui vixit annis LXX
2,(B): [S]isenna ist falscher Kasus; folgende Er...,Spain,(12) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,{},Tomares,(37) cm,HD000003,L,2006-08-31,...,Sevilla,Certain,Tomares,Certain,NULL,NULL,131 AD - 170 AD,ummio isenna Xv,Publio Mummio Publi filio Galeria Sisennae Rut...,Publio Mummio Publi filio Galeria Sisennae Rut...
3,Material: lokaler grauer Kalkstein. (B): Stylo...,Spain,18 cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,Ipolcobulcula,Carcabuey,(39) cm,HD000004,L,2015-03-27,...,Córdoba,Certain,Carcabuey,Certain,NULL,NULL,151 AD - 200 AD,AVSLLA M Porci Nigri ser dominae Veneri aram p...,AVS LLA Marci Porci Nigri serva dominae Veneri...,AVS LLA Marci Porci Nigri serva dominae Veneri...
4,(B): Z. 3: C(ai) l(ibertae) Tyches.,Italy,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,Roma,Roma,{},HD000005,L,2010-01-04,...,Lazio,Certain,Roma,Certain,Via Cupa (ehem. Vigna Nardi),Certain,1 AD - 200 AD,l Successus L l Irenaeus C l Tyches unt renti f,libertus Successus Luci libertus Irenaeus Cai ...,libertus Successus Luci libertus Irenaeus Cai ...