The easiest option is to read the data to python is to use link to the file located in a public folder on sciencedata.dk, which might be accessed even without sciencedata credentials.

# a) requests & pandas

In [1]:
import pandas as pd
import requests

In [7]:
# make the request
filename = "EDH_attrs_cleaned_2020-09-25.json"
public_folder_id = "b6b6afdb969d378b70929e86e58ad975"
resp = requests.get("https://sciencedata.dk/public/" + public_folder_id + "/" + filename)
resp # look at the response: 200 means valid

In [8]:
# interpret response content as json and transform it into pandas DataFrame object
EDH_merged = pd.DataFrame(resp.json())
# look at first five rows
EDH_merged.head(5)

,responsible_individual,type_of_inscription,letter_size,not_after,literature,work_status,height,diplomatic_text,people,depth,...,material_clean,type_of_monument_clean,type_of_monument_certainty,province_label_clean,province_label_certainty,country_clean,country_certainty,findspot_ancient_clean,findspot_ancient_certainty,origdate_text_clean
0,Feraudi,epitaph,3.2-2 cm,0130,"AE 1983, 0192.; M. Annecchino, Puteoli 4/5, 19...",provisional,33 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"[{'name': 'Noniae P.f. Optatae', 'cognomen': '...",2.7 cm,...,Marble,tabula,Certain,Latium et Campania (Regio I),Certain,Italy,Certain,Cumae,Estimated,71 AD – 130 AD
1,Feraudi,epitaph,4 cm,0200,"AE 1983, 0080. (A); A. Ferrua, RAL 36, 1981, 1...",no image,28 cm,C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,"[{'nomen': 'Sextius', 'praenomen': 'C.', 'pers...",{},...,Marble,tabula,Certain,Roma,Certain,Italy,Certain,Roma,Certain,51 AD – 200 AD
2,Feraudi,honorific inscription,4.5-3 cm,0170,"AE 1983, 0518. (B); J. González, ZPE 52, 1983,...",provisional,(37) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,"[{'nomen': 'Mummius+', 'gender': 'male', 'prae...",(12) cm,...,Marble,statue base,Certain,Baetica,Certain,Spain,Certain,NULL,NULL,131 AD – 170 AD
3,Gräf,votive inscription,2.5 cm,0200,"AE 1983, 0533. (B); A.U. Stylow, Gerión 1, 198...",checked with photo,(39) cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,[{'name': '[---?]AV(?)S(?)[---]L(?)L(?)A M. Po...,18 cm,...,Limestone,altar,Certain,Baetica,Certain,Spain,Certain,Ipolcobulcula,Certain,151 AD – 200 AD
4,Feraudi,epitaph,{},0200,"AE 1983, 0078. (B); A. Ferrua, RAL 36, 1981, 1...",no image,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,"[{'person_id': '1', 'name': '[---]l. Successus...",{},...,NULL,stele,Certain,Roma,Certain,Italy,Certain,Roma,Certain,1 AD – 200 AD

In [9]:
EDH_merged.shape

(81476, 65)

In [ ]:
# unfortunetely, many individual cell values are formatted as onee-element-lists
# so we have to extract them before moving further....

# sddk (>=2.7)
(also implictly relies on requests and pandas)

In [10]:
import sddk

publicfolder = "b6b6afdb969d378b70929e86e58ad975"
EDH_merged = sddk.read_file("EDH_attrs_cleaned_2020-09-25.json", "df", publicfolder)
EDH_merged.head(5)

reading file located in a public folder

,responsible_individual,type_of_inscription,letter_size,not_after,literature,work_status,height,diplomatic_text,people,depth,...,material_clean,type_of_monument_clean,type_of_monument_certainty,province_label_clean,province_label_certainty,country_clean,country_certainty,findspot_ancient_clean,findspot_ancient_certainty,origdate_text_clean
0,Feraudi,epitaph,3.2-2 cm,0130,"AE 1983, 0192.; M. Annecchino, Puteoli 4/5, 19...",provisional,33 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"[{'name': 'Noniae P.f. Optatae', 'cognomen': '...",2.7 cm,...,Marble,tabula,Certain,Latium et Campania (Regio I),Certain,Italy,Certain,Cumae,Estimated,71 AD – 130 AD
1,Feraudi,epitaph,4 cm,0200,"AE 1983, 0080. (A); A. Ferrua, RAL 36, 1981, 1...",no image,28 cm,C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,"[{'nomen': 'Sextius', 'praenomen': 'C.', 'pers...",{},...,Marble,tabula,Certain,Roma,Certain,Italy,Certain,Roma,Certain,51 AD – 200 AD
2,Feraudi,honorific inscription,4.5-3 cm,0170,"AE 1983, 0518. (B); J. González, ZPE 52, 1983,...",provisional,(37) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,"[{'nomen': 'Mummius+', 'gender': 'male', 'prae...",(12) cm,...,Marble,statue base,Certain,Baetica,Certain,Spain,Certain,NULL,NULL,131 AD – 170 AD
3,Gräf,votive inscription,2.5 cm,0200,"AE 1983, 0533. (B); A.U. Stylow, Gerión 1, 198...",checked with photo,(39) cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,[{'name': '[---?]AV(?)S(?)[---]L(?)L(?)A M. Po...,18 cm,...,Limestone,altar,Certain,Baetica,Certain,Spain,Certain,Ipolcobulcula,Certain,151 AD – 200 AD
4,Feraudi,epitaph,{},0200,"AE 1983, 0078. (B); A. Ferrua, RAL 36, 1981, 1...",no image,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,"[{'person_id': '1', 'name': '[---]l. Successus...",{},...,NULL,stele,Certain,Roma,Certain,Italy,Certain,Roma,Certain,1 AD – 200 AD