The easiest option is to read the data to python is to use link to the file located in a public folder on sciencedata.dk, which might be accessed even without sciencedata credentials.

# a) requests & pandas

In [1]:
import pandas as pd
import requests

In [4]:
# make the request
filename = "EDH_attrs_cleaned_2020-09-30.json"
public_folder_id = "b6b6afdb969d378b70929e86e58ad975"
resp = requests.get("https://sciencedata.dk/public/" + public_folder_id + "/" + filename)
resp # look at the response: 200 means valid

In [5]:
resp.headers

{'Date': 'Mon, 05 Oct 2020 11:23:28 GMT', 'Server': 'Apache/2.4.27 (FreeBSD) OpenSSL/1.0.1s-freebsd PHP/5.6.31 mod_qos/11.51', 'X-Powered-By': 'PHP/5.6.31', 'Set-Cookie': '547a3bd3973b8=beuhh9d87oe10m64ekhbqhsla0; path=/; domain=.sciencedata.dk; HttpOnly', 'Expires': 'Thu, 19 Nov 1981 08:52:00 GMT', 'Cache-Control': 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0', 'Pragma': 'no-cache', 'Strict-Transport-Security': 'max-age=31536000', 'X-XSS-Protection': '1; mode=block', 'X-Content-Type-Options': 'nosniff', 'Content-Security-Policy': "script-src 'self' http://*.google.com https://*.deic.dk https://*.sciencedata.dk https://sciencedata.dk 'unsafe-inline' 'unsafe-eval' http://*.googleapis.com https://*.googleapis.com https://*.google.com https://code.jquery.com https://d3js.org https://*.deic.dk https://*.sciencedata.dk https://sciencedata.dk; style-src 'self' 'unsafe-inline' http://*.googleapis.com https://*.googleapis.com https://*.google.com https://code.jquery.com https://*.deic.dk https://*.sciencedata.dk https://sciencedata.dk", 'X-Robots-Tag': 'none', 'Last-Modified': 'Wed, 30 Sep 2020 12:06:40 GMT', 'ETag': '"5f7474d0b446b"', 'Content-Length': '235106920', 'Access-Control-Allow-Headers': '*', 'Keep-Alive': 'timeout=10, max=200', 'Connection': 'Keep-Alive', 'Content-Type': 'text/plain;charset=UTF-8'}

In [4]:
# interpret response content as json and transform it into pandas DataFrame object
EDH_merged = pd.DataFrame(resp.json())
# look at first five rows
EDH_merged.head(5)

,responsible_individual,type_of_inscription,letter_size,not_after,literature,work_status,height,diplomatic_text,people,depth,...,country_certainty,findspot_ancient_clean,findspot_ancient_certainty,modern_region_clean,modern_region_certainty,findspot_modern_clean,findspot_modern_certainty,findspot_clean,findspot_certainty,origdate_text_clean
0,Feraudi,epitaph,3.2-2 cm,0130,"AE 1983, 0192.; M. Annecchino, Puteoli 4/5, 19...",provisional,33 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"[{'name': 'Noniae P.f. Optatae', 'cognomen': '...",2.7 cm,...,Certain,Cumae,Estimated,Campania,Certain,"Cuma, bei",Certain,NULL,NULL,71 AD – 130 AD
1,Feraudi,epitaph,4 cm,0200,"AE 1983, 0080. (A); A. Ferrua, RAL 36, 1981, 1...",no image,28 cm,C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,"[{'nomen': 'Sextius', 'praenomen': 'C.', 'pers...",{},...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,"Via Nomentana, S. Alessandro, Kirche",Certain,51 AD – 200 AD
2,Feraudi,honorific inscription,4.5-3 cm,0170,"AE 1983, 0518. (B); J. González, ZPE 52, 1983,...",provisional,(37) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,"[{'nomen': 'Mummius+', 'gender': 'male', 'prae...",(12) cm,...,Certain,NULL,NULL,Sevilla,Certain,Tomares,Certain,NULL,NULL,131 AD – 170 AD
3,Gräf,votive inscription,2.5 cm,0200,"AE 1983, 0533. (B); A.U. Stylow, Gerión 1, 198...",checked with photo,(39) cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,[{'name': '[---?]AV(?)S(?)[---]L(?)L(?)A M. Po...,18 cm,...,Certain,Ipolcobulcula,Certain,Córdoba,Certain,Carcabuey,Certain,NULL,NULL,151 AD – 200 AD
4,Feraudi,epitaph,{},0200,"AE 1983, 0078. (B); A. Ferrua, RAL 36, 1981, 1...",no image,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,"[{'person_id': '1', 'name': '[---]l. Successus...",{},...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,Via Cupa (ehem. Vigna Nardi),Certain,1 AD – 200 AD

In [4]:
EDH_merged.shape

(81476, 71)

In [ ]:
# unfortunetely, many individual cell values are formatted as onee-element-lists
# so we have to extract them before moving further....

# sddk (>=2.7)
(also implictly relies on requests and pandas)

In [7]:
import sddk

publicfolder = "b6b6afdb969d378b70929e86e58ad975"
EDH_merged = sddk.read_file("EDH_attrs_cleaned_2020-09-28.json", "df", publicfolder)
EDH_merged.head(5)

reading file located in a public folder

,responsible_individual,type_of_inscription,letter_size,not_after,literature,work_status,height,diplomatic_text,people,depth,...,country_certainty,findspot_ancient_clean,findspot_ancient_certainty,modern_region_clean,modern_region_certainty,findspot_modern_clean,findspot_modern_certainty,findspot_clean,findspot_certainty,origdate_text_clean
0,Feraudi,epitaph,3.2-2 cm,0130,"AE 1983, 0192.; M. Annecchino, Puteoli 4/5, 19...",provisional,33 cm,D M / NONIAE P F OPTATAE / ET C IVLIO ARTEMONI...,"[{'name': 'Noniae P.f. Optatae', 'cognomen': '...",2.7 cm,...,Certain,Cumae,Estimated,Campania,Certain,"Cuma, bei",Certain,NULL,NULL,71 AD – 130 AD
1,Feraudi,epitaph,4 cm,0200,"AE 1983, 0080. (A); A. Ferrua, RAL 36, 1981, 1...",no image,28 cm,C SEXTIVS PARIS / QVI VIXIT / ANNIS LXX,"[{'nomen': 'Sextius', 'praenomen': 'C.', 'pers...",{},...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,"Via Nomentana, S. Alessandro, Kirche",Certain,51 AD – 200 AD
2,Feraudi,honorific inscription,4.5-3 cm,0170,"AE 1983, 0518. (B); J. González, ZPE 52, 1983,...",provisional,(37) cm,[ ]VMMIO [ ] / [ ]ISENNA[ ] / [ ] XV[ ] / [ ] / [,"[{'nomen': 'Mummius+', 'gender': 'male', 'prae...",(12) cm,...,Certain,NULL,NULL,Sevilla,Certain,Tomares,Certain,NULL,NULL,131 AD – 170 AD
3,Gräf,votive inscription,2.5 cm,0200,"AE 1983, 0533. (B); A.U. Stylow, Gerión 1, 198...",checked with photo,(39) cm,[ ]AVS[ ]LLA / M PORCI NIGRI SER / DOMINAE VEN...,[{'name': '[---?]AV(?)S(?)[---]L(?)L(?)A M. Po...,18 cm,...,Certain,Ipolcobulcula,Certain,Córdoba,Certain,Carcabuey,Certain,NULL,NULL,151 AD – 200 AD
4,Feraudi,epitaph,{},0200,"AE 1983, 0078. (B); A. Ferrua, RAL 36, 1981, 1...",no image,{},[ ] L SVCCESSVS / [ ] L L IRENAEVS / [ ] C L T...,"[{'person_id': '1', 'name': '[---]l. Successus...",{},...,Certain,Roma,Certain,Lazio,Certain,Roma,Certain,Via Cupa (ehem. Vigna Nardi),Certain,1 AD – 200 AD

In [18]:
# login to our project folder, owned by my AU account 648597@au.dk, using my account at another institution
session, endpoint = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): kase@zcu.cz
sciencedata.dk password: ········
connection with shared folder established with you as its ordinary user
endpoint variable has been configured to: https://sciencedata.dk/sharingout/648597%40au.dk/SDAM_root/

In [19]:
# login to our project folder, owned by my AU account 648597@au.dk, using my Au account
session, endpoint = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/